<div class="row"> 
 <div class="col-lg-6">

  <nb-card>  
  <nb-card-header>Configuración de Remuneraciones</nb-card-header>
  <nb-card-body>

      <div class="demo-checkboxes col-sm-4">
          <ul> </ul>
          <nb-checkbox [value]="true">Pago de CCAF por Previred</nb-checkbox>
        </div>
   
     <div class="row full-name-inputs">
        <div class="col-sm-6 form-group">
            <small class="form-text">Caja de Compensación</small>
            <select class="form-control">
              <option> </option>
              <option>Sin CCAF</option>
              <option>Los Andes</option>
              <option>La Araucana</option>
              <option>Los Heroes</option>
              <option>Gabriela Mistral</option>
              <option>18 de Septiembre</option>
            </select>
         </div>
  
      <div class="col-sm-6 form-group">
          <small class="form-text">Mutual de Seguridad</small>
          <select class="form-control">
            <option> </option>
            <option>Sin Mutual - ISL</option>
            <option>Asociación Chilea de Seguridad ACHS</option>
            <option>Mutual de Seguridad CCHC</option>
            <option>Instituto de Seguridad del Trabajo I.S.T</option>        
          </select>
       </div>

          <div class="col-sm-6 form-group">
              <small class="form-text">Tasa Mutual</small>
              <input type="text" placeholder="Ej: 2.3" class="form-control"/>
            </div>

            <div class="col-sm-6 form-group">
                <small class="form-text">Sucursal Mutual</small>
                <input type="text" placeholder="Ingresar Sucursal" class="form-control"/>
              </div>
    
    </div>
 
 
    <ul> </ul>
      <button class="btn btn-primary btn-semi-round btn-demo">Enviar</button>
      <a href="#/pages/dashboard"class="btn btn-success btn-semi-round btn-demo">Volver</a>
      <a href="#/pages/forms/dcomunidad"class="btn btn-danger btn-semi-round btn-demo">DCOMUNIDAD</a>

    </nb-card-body>
    </nb-card>
</div>    

</div>
