<div class="row"> 
 <div class="col-lg-6">

  <nb-card>  
  <nb-card-header>Datos de la Comunidad

  </nb-card-header>
      <nb-card-body>

        <div class="row full-name-inputs">

          <div class="col-sm-4 form-group">
            <small class="form-text">Código de la Comunidad</small>
            <input type="text" placeholder="3001" class="form-control"/>
          </div>
  
          <div class="col-sm-4 form-group">
            <small class="form-text">Fecha de Proceso</small>
            <input type="text" placeholder="03-2018" class="form-control"/>
          </div>
  
      </div>
  

        <div class="form-group">
<!--          <section id="radius"></section>   -->
          <small class="form-text">Nombre Comunidad</small>
          <input type="text" placeholder="Condominio Camino Real " class="form-control"/>
        </div>

        <div class="col-sm-6 form-group">
          <small class="form-text">Rut Comunidad</small>
          <input type="text" placeholder="56.054.510-K" class="form-control"/>
       </div>

        <div class="form-group">
          <small class="form-text">Dirección Comunidad</small>
          <input type="text" placeholder="Av.Fernandez Alba #710" class="form-control"/>
        </div>

    <div class="row full-name-inputs">

        <div class="col-sm-6 form-group">
          <small class="form-text">Región</small>
          <select class="form-control">
            <option>Metropolitana </option>
            <option>RM - Metropolitana de Santiago</option>
            <option>I - Tarapacá</option>
            <option>II   - Antofagasta</option>
            <option>III  - Atacama</option>
            <option>IV   - Coquimbo</option>
            <option>V    - Valparaíso</option>
            <option>VI   - O'Higgins</option>
            <option>VII  - Maule</option>
            <option>VIII - Biobío</option>
            <option>IX   - Araucanía (norte)</option>
            <option>IX   - Araucanía (sur)</option>
            <option>X    - Los Lagos (norte)</option>
            <option>X    - Los Lagos (sur)</option>
            <option>XI   - Aysén</option>
            <option>XII  - Magallanes</option>
            <option>XIV  - Los Ríos</option>
            <option>XV   - Arica y Parinacota</option>
          </select>
        </div>

        <div class="col-sm-6 form-group">
          <small class="form-text">Comuna</small>
          <select class="form-control">
            <option>La Cisterna </option>
            <option>Cerrillos</option>
            <option>Cerro Navia</option>
            <option>Conchalí</option>
            <option>El Bosque</option>
            <option>Estación Central</option>
            <option>Huechuraba</option>
            <option>Independencia</option>
            <option>La Cisterna</option>
            <option>La Florida</option>
            <option>La Pintana</option>
            <option>La Granja</option>
            <option>La Reina</option>
            <option>Las Condes</option>
            <option>Lo Barnechea</option>
            <option>Lo Espejo</option>
            <option>Lo Prado</option>
            <option>Macul</option>
            <option>Maipú</option>
            <option>Ñuñoa</option>
            <option>Pedro Aguirre Cerda</option>
            <option>Peñalolén</option>
            <option>Providencia</option>
            <option>Pudahuel</option>
            <option>Quilicura</option>
            <option>Quinta Normal</option>
            <option>Recoleta</option>
            <option>Renca</option>
            <option>San Miguel</option>
            <option>San Joaquín</option>
            <option>San Ramón</option>
            <option>Santiago</option>
            <option>Vitacura</option>
          </select>
        </div>

    </div>
  
    <div class="row full-name-inputs">

        <div class="col-sm-6 form-group">
          <small class="form-text">Número Teléfono de Contacto</small>
          <input type="text" placeholder="(+56 9) 9847 1055" class="form-control"/>
        </div>

        <div class="col-sm-6 form-group">
          <small class="form-text">Mail de Contacto</small>
          <input type="text" placeholder="caminireal710@gmail.com" class="form-control"/>
        </div>

    </div>

      <small class="col-sm-6 form-text">Tipo de Gasto (Fijo - Variable)</small>
      <select class="col-sm-6 form-control">
        <option>Fijo </option>
        <option>Fijo</option>
        <option>Variable</option>
      </select>

      <ul> </ul>

      <button class="btn btn-primary btn-semi-round btn-demo">Enviar</button>
      <a href="#/pages/dashboard"class="btn btn-success btn-semi-round btn-demo">Volver</a>

<!--  <a href="#/pages/forms/ecomunes"class="btn btn-warning btn-semi-round btn-demo">Volver</a>
      <a href="#/pages/forms/ecomunes"class="btn btn-info btn-semi-round btn-demo">Volver</a>
      <a href="#/pages/forms/dcomunidad"class="btn btn-danger btn-semi-round btn-demo">Volver</a>
      <a href="#/pages/forms/dcomunidad"class="btn btn-ghost btn-semi-round btn-demo">Volver</a> -->


      </nb-card-body>
    </nb-card>
</div>    


<div class="col-lg-6">    
    <nb-card>
      <nb-card-header>Otros Botones de Configuración</nb-card-header>
      <nb-card-body>

<!--        <script type="text/javascript" src="..\src\app\pages\forms\form-dcomunidad\form-dcomunidad.component.js"></script> -->

            <a href="#/pages/forms/icontactos"class="btn btn-primary btn-semi-round btn-demo">Información de Contacto___</a>
            <a href="#/pages/forms/cintereses"class="btn btn-success btn-semi-round btn-demo">Configuración Intereses____</a>
                        <ul></ul> 
            <a href="#/pages/forms/cfondoreserva"class="btn btn-warning btn-semi-round btn-demo">Configuración Fondo Reserva</a>
            <a href="#/pages/forms/cgastocomun"class=   "btn btn-info btn-semi-round btn-demo">Configuración Gasto Común_</a>
                        <ul></ul>
            <a href="#/pages/forms/cremuneraciones"class= "btn btn-danger btn-semi-round btn-demo">Remuneraciones RRHH______</a>
            <a href="#/pages/forms/ecomunes"class= "btn btn-hero-secondary btn-semi-round btn-demo">Espacios Comunes_________</a>


        <div
            ba-panel
            ba-panel-title="Datepicker"
            ba-panel-class="with-scroll">
            <div ng-include="'app/pages/form/inputs/widgets/datePickers/datePickers.html'"></div>
        </div>

            <ul></ul>
             <ul></ul>
          <ul> </ul>

      </nb-card-body>
    </nb-card>


  </div>

</div>
