<div class="row"> 
 <div class="col-lg-6">

  <nb-card>  
  <nb-card-header>Configuración de Intereses</nb-card-header>
  <nb-card-body>

       <div class="row full-name-inputs">
         <div class="col-sm-6 form-group">
            <div class="col-sm-6 form-group">
                <small class="form-text">Tasa de Interes</small>
                <input type="text" placeholder="%" class="form-control"/>
              </div>
        </div>

      <div class="col-sm-6 form-group">
          <small class="form-text">Tipo de Interes</small>
          <select class="form-control">
            <option> </option>
            <option>Diario</option>
            <option>Mensual</option>
            <option>Anual</option>
          </select>
       </div>

        <div class="col-sm-6 form-group">
          <small class="form-text">Monto afecto a Interes</small>
          <select class="form-control">
            <option> </option>
            <option>Solo Gasto Común</option>
            <option>Gasto Común + Fondo de Reserva + Cargos y Multas + Provisiones</option>
            <option>Gasto Común + Cargos y Multas</option>
            <option>Gasto Común + Cargos y Multas + Provisiones</option>
          </select>
        </div>

    </div>
      <ul> </ul>
      <button class="btn btn-primary btn-semi-round btn-demo">Enviar</button>
      <a href="#/pages/dashboard"class="btn btn-success btn-semi-round btn-demo">Volver</a>
      <a href="#/pages/forms/dcomunidad"class="btn btn-danger btn-semi-round btn-demo">DCOMUNIDAD</a>

    </nb-card-body>
    </nb-card>
</div>    

</div>
