<!-- 
<div class="col-md-8">
  <nb-card size="small">
    <nb-tabset fullWidth>
      <nb-tab tabTitle="CtaCte Ingresos">

      <ngx-ctacteing-multiple-xaxis></ngx-ctacteing-multiple-xaxis>

          </nb-tab>
      <nb-tab tabTitle="CtaCte Egresos">

        <ngx-ctacteegr-multiple-xaxis></ngx-ctacteegr-multiple-xaxis> 

          </nb-tab>
      <nb-tab tabTitle="Pagos Gasto Común">

        <ngx-ctacteing-multiple-xaxis></ngx-ctacteing-multiple-xaxis>

      </nb-tab>

      <nb-tab tabTitle="Morosidad Gasto Común">

        <span>Content #3</span>

      </nb-tab>

      <nb-tab tabTitle="Pagos Consumo de Agua">

        <span>Content #3</span>

      </nb-tab>


    </nb-tabset>
  </nb-card>
</div>

-->









<div class="row">

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Ingresos a Cuenta Corriente</nb-card-header>
      <nb-card-body>
        <ngx-ctacteing-multiple-xaxis></ngx-ctacteing-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Egresos de Cuenta Corriente</nb-card-header>
      <nb-card-body>
        <ngx-ctacteegr-multiple-xaxis></ngx-ctacteegr-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Ingresos de Gastos Comunes</nb-card-header>
        <nb-card-body>
          <ngx-gascompag-multiple-xaxis></ngx-gascompag-multiple-xaxis>
        </nb-card-body>
      </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Morosidad General Mensual</nb-card-header>
      <nb-card-body>
          <ngx-gascommor-multiple-xaxis></ngx-gascommor-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Pago Cuentas de Agua</nb-card-header>
        <nb-card-body>
          <ngx-ctacteagua-multiple-xaxis></ngx-ctacteagua-multiple-xaxis>
        </nb-card-body>
      </nb-card>
    </div>

</div>
