<!--<div class="row"> 
  <div class="col-lg-6">   -->
  <nb-card>  
  <nb-card-header>Información de Contacto</nb-card-header>
      <nb-card-body>
    
    INFORMACION CLIENTE

   <div class="row full-name-inputs">
        <div class="form-group">
            <small class="form-text">Nombre Cliente</small>
            <input type="text" placeholder=" " class="form-control"/>
            <small class="form-text">Nombre de la Persona natural que contrato los servicios de VissionPro</small>
          </div>
        <div class="form-group">
          <small class="form-text">Rut Cliente</small>
          <input type="text" placeholder=" " class="form-control"/>
        </div>
        <div class="form-group">
            <small class="form-text">N° Teléfono de Cliente</small>
            <input type="text" placeholder="(+56 9 )" class="form-control"/>
        </div>
         <div class="form-group">
            <small class="form-text">Mail de Cliente</small>
            <input type="text" placeholder="example@gmail.com" class="form-control"/>
        </div>
        <div class="form-group">
          <small class="form-text">Dirección Cliente</small>
          <input type="text" placeholder=" " class="form-control"/>
        </div>
  </div>

  INFORMACION DEL ADMINISTRADOR

  <div class="row full-name-inputs">
      <div class="form-group">
          <small class="form-text">Nombre Adminstrador</small>
          <input type="text" placeholder=" " class="form-control"/>
          <small class="form-text">Nombre del Actual Administrador de la Comunidad</small>
        </div>
      <div class="form-group">
        <small class="form-text">Rut Adminstrador</small>
        <input type="text" placeholder=" " class="form-control"/>
      </div>
      <div class="form-group">
          <small class="form-text">N° Teléfono Adminstrador</small>
          <input type="text" placeholder="(+56 9 )" class="form-control"/>
      </div>
       <div class="form-group">
          <small class="form-text">Mail Adminstrador</small>
          <input type="text" placeholder="example@gmail.com" class="form-control"/>
      </div>
      <div class="form-group">
        <small class="form-text">Dirección Adminstrador</small>
        <input type="text" placeholder=" " class="form-control"/>
      </div>
</div>

  INFORMACION DEL DIRECTORIO DE LA COMUNIDAD

   <div class="row full-name-inputs">
         <div class="form-group">
            <small class="form-text">Directorio</small>
            <select class="form-control">
              <option> </option>
              <option>Presidente</option>
              <option>Director 1</option>
              <option>Director 2</option>
              <option>Director 3</option>
              <option>Director 4</option>
              <option>Director 5</option>
              <option>Director 6</option>
              <option>Director 7</option>
              <option>Director 8</option>
            </select>
        </div>
        
        <div class="form-group">
            <small class="form-text">Nombre</small>
            <input type="text" placeholder=" " class="form-control"/>
        </div>

        <div class="form-group">
          <small class="form-text">Rut</small>
          <input type="text" placeholder=" " class="form-control"/>
        </div>
        <div class="form-group">
            <small class="form-text">N° Teléfono</small>
            <input type="text" placeholder="(+56 9 )" class="form-control"/>
        </div>
         <div class="form-group">
            <small class="form-text">Mail</small>
            <input type="text" placeholder="example@gmail.com" class="form-control"/>
        </div>
        <div class="form-group">
          <small class="form-text">Dirección</small>
          <input type="text" placeholder=" " class="form-control"/>
        </div>
  </div>



  <div class="row full-name-inputs">
      <div class="form-group">
         <select class="form-control">
           <option> </option>
           <option>Presidente</option>
           <option>Director 1</option>
           <option>Director 2</option>
           <option>Director 3</option>
           <option>Director 4</option>
           <option>Director 5</option>
           <option>Director 6</option>
           <option>Director 7</option>
           <option>Director 8</option>
         </select>
     </div>
     <div class="form-group">
         <input type="text" placeholder=" " class="form-control"/>
       </div>
     <div class="form-group">
       <input type="text" placeholder=" " class="form-control"/>
     </div>
     <div class="form-group">
         <input type="text" placeholder="(+56 9 )" class="form-control"/>
     </div>
      <div class="form-group">
         <input type="text" placeholder="example@gmail.com" class="form-control"/>
     </div>
     <div class="form-group">
       <input type="text" placeholder=" " class="form-control"/>
     </div>
</div>


<div class="row full-name-inputs">
    <div class="form-group">
       <select class="form-control">
         <option> </option>
         <option>Presidente</option>
         <option>Director 1</option>
         <option>Director 2</option>
         <option>Director 3</option>
         <option>Director 4</option>
         <option>Director 5</option>
         <option>Director 6</option>
         <option>Director 7</option>
         <option>Director 8</option>
       </select>
   </div>
   <div class="form-group">
       <input type="text" placeholder=" " class="form-control"/>
     </div>
   <div class="form-group">
     <input type="text" placeholder=" " class="form-control"/>
   </div>
   <div class="form-group">
       <input type="text" placeholder="(+56 9 )" class="form-control"/>
   </div>
    <div class="form-group">
       <input type="text" placeholder="example@gmail.com" class="form-control"/>
   </div>
   <div class="form-group">
     <input type="text" placeholder=" " class="form-control"/>
   </div>
</div>



<div class="row full-name-inputs">
    <div class="form-group">
       <select class="form-control">
         <option> </option>
         <option>Presidente</option>
         <option>Director 1</option>
         <option>Director 2</option>
         <option>Director 3</option>
         <option>Director 4</option>
         <option>Director 5</option>
         <option>Director 6</option>
         <option>Director 7</option>
         <option>Director 8</option>
       </select>
   </div>
   <div class="form-group">
       <input type="text" placeholder=" " class="form-control"/>
     </div>
   <div class="form-group">
     <input type="text" placeholder=" " class="form-control"/>
   </div>
   <div class="form-group">
       <input type="text" placeholder="(+56 9 )" class="form-control"/>
   </div>
    <div class="form-group">
       <input type="text" placeholder="example@gmail.com" class="form-control"/>
   </div>
   <div class="form-group">
     <input type="text" placeholder=" " class="form-control"/>
   </div>
</div>



<div class="row full-name-inputs">
    <div class="form-group">
       <select class="form-control">
         <option> </option>
         <option>Presidente</option>
         <option>Director 1</option>
         <option>Director 2</option>
         <option>Director 3</option>
         <option>Director 4</option>
         <option>Director 5</option>
         <option>Director 6</option>
         <option>Director 7</option>
         <option>Director 8</option>
       </select>
   </div>
   <div class="form-group">
       <input type="text" placeholder=" " class="form-control"/>
     </div>
   <div class="form-group">
     <input type="text" placeholder=" " class="form-control"/>
   </div>
   <div class="form-group">
       <input type="text" placeholder="(+56 9 )" class="form-control"/>
   </div>
    <div class="form-group">
       <input type="text" placeholder="example@gmail.com" class="form-control"/>
   </div>
   <div class="form-group">
     <input type="text" placeholder=" " class="form-control"/>
   </div>
</div>



<div class="row full-name-inputs">
    <div class="form-group">
       <select class="form-control">
         <option> </option>
         <option>Presidente</option>
         <option>Director 1</option>
         <option>Director 2</option>
         <option>Director 3</option>
         <option>Director 4</option>
         <option>Director 5</option>
         <option>Director 6</option>
         <option>Director 7</option>
         <option>Director 8</option>
       </select>
   </div>
   <div class="form-group">
       <input type="text" placeholder=" " class="form-control"/>
     </div>
   <div class="form-group">
     <input type="text" placeholder=" " class="form-control"/>
   </div>
   <div class="form-group">
       <input type="text" placeholder="(+56 9 )" class="form-control"/>
   </div>
    <div class="form-group">
       <input type="text" placeholder="example@gmail.com" class="form-control"/>
   </div>
   <div class="form-group">
     <input type="text" placeholder=" " class="form-control"/>
   </div>
</div>



<div class="row full-name-inputs">
    <div class="form-group">
       <select class="form-control">
         <option> </option>
         <option>Presidente</option>
         <option>Director 1</option>
         <option>Director 2</option>
         <option>Director 3</option>
         <option>Director 4</option>
         <option>Director 5</option>
         <option>Director 6</option>
         <option>Director 7</option>
         <option>Director 8</option>
       </select>
   </div>
   <div class="form-group">
       <input type="text" placeholder=" " class="form-control"/>
     </div>
   <div class="form-group">
     <input type="text" placeholder=" " class="form-control"/>
   </div>
   <div class="form-group">
       <input type="text" placeholder="(+56 9 )" class="form-control"/>
   </div>
    <div class="form-group">
       <input type="text" placeholder="example@gmail.com" class="form-control"/>
   </div>
   <div class="form-group">
     <input type="text" placeholder=" " class="form-control"/>
   </div>
</div>



<div class="row full-name-inputs">
    <div class="form-group">
       <select class="form-control">
         <option> </option>
         <option>Presidente</option>
         <option>Director 1</option>
         <option>Director 2</option>
         <option>Director 3</option>
         <option>Director 4</option>
         <option>Director 5</option>
         <option>Director 6</option>
         <option>Director 7</option>
         <option>Director 8</option>
       </select>
   </div>
   <div class="form-group">
       <input type="text" placeholder=" " class="form-control"/>
     </div>
   <div class="form-group">
     <input type="text" placeholder=" " class="form-control"/>
   </div>
   <div class="form-group">
       <input type="text" placeholder="(+56 9 )" class="form-control"/>
   </div>
    <div class="form-group">
       <input type="text" placeholder="example@gmail.com" class="form-control"/>
   </div>
   <div class="form-group">
     <input type="text" placeholder=" " class="form-control"/>
   </div>
</div>



<div class="row full-name-inputs">
    <div class="form-group">
       <select class="form-control">
         <option> </option>
         <option>Presidente</option>
         <option>Director 1</option>
         <option>Director 2</option>
         <option>Director 3</option>
         <option>Director 4</option>
         <option>Director 5</option>
         <option>Director 6</option>
         <option>Director 7</option>
         <option>Director 8</option>
       </select>
   </div>
   <div class="form-group">
       <input type="text" placeholder=" " class="form-control"/>
     </div>
   <div class="form-group">
     <input type="text" placeholder=" " class="form-control"/>
   </div>
   <div class="form-group">
       <input type="text" placeholder="(+56 9 )" class="form-control"/>
   </div>
    <div class="form-group">
       <input type="text" placeholder="example@gmail.com" class="form-control"/>
   </div>
   <div class="form-group">
     <input type="text" placeholder=" " class="form-control"/>
   </div>
</div>





  
  
      <ul> </ul>

      <button class="btn btn-primary btn-semi-round btn-demo">Enviar</button>
      <a href="#/pages/dashboard"class="btn btn-success btn-semi-round btn-demo">Volver</a>
      <a href="#/pages/forms/dcomunidad"class="btn btn-danger btn-semi-round btn-demo">dCOMUNIDAD</a>

      </nb-card-body>
    </nb-card>



