<div class="row"> 
 <div class="col-lg-6">
  <nb-card>  
  <nb-card-header>Configuración Fondo de Reserva</nb-card-header>
      <nb-card-body>


        <div class="col-sm-6 form-group">
            <small class="form-text">Porcentaje Fondo de Reserva</small>
            <input type="text" placeholder="%" class="form-control"/>
        </div>

        <div class="col-sm-6 form-group">
          <small class="form-text">Saldo Inicial Fondo de Reserva</small>
          <input type="text" placeholder="$" class="form-control"/>
        </div>

        <div class="col-sm-6 form-group">
            <small class="form-text">Tipo de Fondo de Reserva</small>
            <select class="form-control">
              <option> </option>
              <option>Alicuota - Prorrateable x Factor</option>
              <option>Dividido Igualitariamente</option>
              <option>Porcentaje de Gasto Común</option>
            </select>
          </div>

      <ul> </ul>
      <button class="btn btn-primary btn-semi-round btn-demo">Enviar</button>
          <a href="#/pages/dashboard"class="btn btn-success btn-semi-round btn-demo">Volver</a>
          <a href="#/pages/forms/dcomunidad"class="btn btn-danger btn-semi-round btn-demo">DCOMUNIDAD</a>
    
      </nb-card-body>
    </nb-card>
</div>    


<div class="col-lg-6">    
    <nb-card>
      <nb-card-header>Configuración Fondos Adicionales</nb-card-header>
      <nb-card-body>

          <div class="col-sm-6 form-group">
              <small class="form-text">Nombre Fondo</small>
              <input type="text" placeholder="01 - Fondo Cambio de Techos" class="form-control"/>
          </div>

          <div class="col-sm-6 form-group">
              <small class="form-text">Tipo de Fondo</small>
              <select class="form-control">
                <option> </option>
                <option>Alicuota - Prorrateable x Factor</option>
                <option>Dividido Igualitariamente</option>
                <option>Porcentaje de Gasto Común</option>
              </select>
          </div>          

        <div class="col-sm-6 form-group">
            <small class="form-text">Monto de la Cuota</small>
            <input type="text" placeholder="$" class="form-control"/>
        </div>

        <div class="col-sm-6 form-group">
          <small class="form-text">Porcentaje / Cuotas</small>
          <input type="text" placeholder="Cuotas" class="form-control"/>
        </div>


        <div class="col-sm-6 form-group">
            <small class="form-text">Saldo Inicial Fondo</small>
            <input type="text" placeholder="$" class="form-control"/>
        </div>

          <ul></ul>
          <ul></ul>

          <button class="btn btn-primary btn-semi-round btn-demo">Enviar</button>
          <a href="#/pages/dashboard"class="btn btn-success btn-semi-round btn-demo">Volver</a>
          <a href="#/pages/forms/dcomunidad"class="btn btn-danger btn-semi-round btn-demo">DCOMUNIDAD</a>

      </nb-card-body>
    </nb-card>
  </div>
</div>

