
  <div class="row show-grid-ocre">
      <div class="col-md-4">
         <div>Ingresar Fecha Inicio (MM/AA)</div>
         <div>Ingresar Fecha Final (MM/AA)</div>
       </div>  
  </div>

<div class="row">  
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>% de Transferencias - Cheque - Efectivo</nb-card-header>
      <nb-card-body>
          <ngx-graf-pie></ngx-graf-pie>    <!--  GPCM  -->
      </nb-card-body>
    </nb-card>
  </div>
  
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Gráfico de Ingresos - Depositos</nb-card-header>
      <nb-card-body>
        <ngx-grafd3-bar></ngx-grafd3-bar>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="row">
    <div class="col-md-12">
        <nb-card>
        <nb-card-body>         
  <!--  <h5 class="grid-h">Tabla de Valores</h5> -->
  
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tr>
                  <th><small>2017</small></th>
                  <th><small>Enero</small></th>
                  <th><small>Febrero</small></th>
                  <th><small>Marzo</small></th>
                  <th><small>Abril</small></th>
                  <th><small>Mayo</small></th>
                </tr>
                <tr>
                  <th><small>Depositos</small></th>
                  <th><small>$8.992.568</small></th>
                  <th><small>$5.800.415</small></th>
                  <th><small>$9.915.305</small></th>
                  <th><small>$10.217.133</small></th>
                  <th><small>$10.593.179</small></th>
                </tr>
            </table>
          </div>
        </nb-card-body>
 
 
        <nb-card-footer>
          Total de Ingresos por Mes
        </nb-card-footer>
 


      </nb-card>
    </div>
  </div>

