<div class="row">   

    <div class="col-lg-6">
        <nb-card>
          <nb-card-header>Panel</nb-card-header> 
          <nb-card-body>

              <div class="subheader">
              <a href="#/pages/tables/smart-gastocomun"class="btn btn-hero-primary      btn-lg">Mi Gasto Común</a>
              <a href="#/pages/charts/Graf-Pie"class="btn btn-hero-warning              btn-lg">Gráf de Ingr..</a>
              <a href="#/pages/tables/smart-gantt"class="btn btn-hero-success           btn-lg">Proyectos Com.</a>
              </div>
          
              <div class="subheader">
              <a href="#/pages/charts/chartjs-Gastos"class="btn btn-hero-info           btn-lg">Gráf de Gastos</a>
              <a href="#/pages/tables/smart-centrodecosto"class="btn btn-hero-secondary btn-lg">Res de Costos.</a>
              <a href="#/pages/charts/ctacteing"class="btn btn-hero-danger              btn-lg">Gráfico XAXIS.</a>
              </div>
              
<!--
     title: 'TOSTADORA',         link: '/pages/components/notifications',    /*   */
     title: 'GRAFICOS 2',        link: '/pages/charts/chartjs',    /*   */
     title: 'GRAFICOS 3',        link: '/pages/charts/d3',    /*   */

  <a href="../widgets/datePickers/datePickers.html"class= "btn btn-danger btn-semi-round btn-demo">BOTON DE PRUEBA WIDGETS______</a>
-->

            </nb-card-body>
        </nb-card>
    </div>

<!--
    <div class="col-lg-6">
        <nb-card>
          <nb-card-header>Gráfico de Torta - Ingresos del Mes</nb-card-header>
          <nb-card-body>
              <ngx-graf-pie-DashBoard></ngx-graf-pie-DashBoard> 
          </nb-card-body>
      </nb-card>
    </div>
  -->
      <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Pago Cuentas de Agua</nb-card-header>
        <nb-card-body>
          <ngx-ctacteagua-multiple-xaxis></ngx-ctacteagua-multiple-xaxis>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-lg-6">
        <nb-card>
          <nb-card-header>Ingresos a Cuenta Corriente</nb-card-header>
          <nb-card-body>
            <ngx-ctacteing-multiple-xaxis></ngx-ctacteing-multiple-xaxis>
          </nb-card-body>
        </nb-card>
    </div>
    
    <div class="col-lg-6">
        <nb-card>
          <nb-card-header>Egresos de Cuenta Corriente</nb-card-header>
          <nb-card-body>
            <ngx-ctacteegr-multiple-xaxis></ngx-ctacteegr-multiple-xaxis>
          </nb-card-body>
        </nb-card>
    </div>










<!--
    <div class="col-lg-8">
       <nb-card>
         <nb-card-header>Gráfico de Gastos</nb-card-header>
         <nb-card-body>

              <div class="row">  
                <div class="col-xxxl-4 col-xxl-4 col-lg-7 col-md-6">
                  <ngx-contacts></ngx-contacts>
                </div>
                <div class="col-xxxl-4 col-xxl-8 col-lg-7 col-md-6">
                    <ngx-temperature></ngx-temperature>
                  </div>
              </div>

         </nb-card-body>
     </nb-card>
    </div>


    <div class="col-lg-10">
      <nb-card>
        <nb-card-header>Gráfico de Barra - Ingresos del Mes</nb-card-header>
        <nb-card-body>
      
          <ngx-electricity></ngx-electricity>

        </nb-card-body>
    </nb-card>
    </div>
 </div>

-->

<!--        

        <div class="col-lg-6">
          <nb-card>
            <nb-card-header>Gráfico de Ingresos - Depositos</nb-card-header>
            <nb-card-body>
                <ngx-graf-pie></ngx-graf-pie>
                <ngx-grafd3-bar></ngx-grafd3-bar>
 
              </nb-card-body>
          </nb-card>
        </div>

  <div class="col-lg-6">
          <nb-card>
            <nb-card-header>Gráfico de Ingresos - Depositos</nb-card-header>
            <nb-card-body>
              <ngx-grafd3-bar></ngx-grafd3-bar>
            </nb-card-body>
          </nb-card>
        </div>
      -->
      
<!--
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Mi Gasto Común" type="primary">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Mi Histórico" type="success">
      <i class="nb-roller-shades"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Publicaciones" type="info">
      <i class="nb-audio"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Mi Boleta de Gasto Común" type="warning">
      <i class="nb-coffee-maker"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Arriendo de Espacios Comunes" type="success">
      <i class="nb-roller-shades"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Gráficos" type="info">
      <i class="nb-audio"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Mi Cuenta" type="warning">
      <i class="nb-coffee-maker"></i>
    </ngx-status-card>
  </div>
</div>

-->



<!--
<div class="row">  
  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>
  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>

</div> 

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>
  
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="72"></ngx-solar>
    <ngx-kitten></ngx-kitten>
  </div>

</div> 
-->